
.ipynb_checkpoints/xgboost2次性测-checkpoint.ipynb
.ipynb_checkpoints/xgboost一次性测试-checkpoint.ipynb
src/__pycache__/config.cpython-312.pyc
src/__pycache__/datasetconfig.cpython-312.pyc
src/__pycache__/featureupdata.cpython-312.pyc
src/__pycache__/zhuabaoconfig.cpython-312.pyc
data
datae
__pycache__